* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

header {
  height: 10vh;
  background-color: rgb(179, 179, 179);
  font-size: 40px;
  padding: 10px;
}

.container {
  display: flex;
}

.nav-section {
  flex: 1;
  background-color: rgb(221, 221, 221);
}

.content-section {
  flex: 4;
  padding: 10px;
}

.data-types h2 {
  margin-top: 30px;
}

ul {
  list-style-type: none;
  width: 100%;
}

li a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 10px;
  border-bottom: 1px solid white;
}

li a:hover {
  background-color: rgb(179, 179, 179);
}

td {
  padding: 5px;
}

footer {
  height: 10vh;
  background-color: rgb(179, 179, 179);
  padding: 10px;
  text-align: center;
}

.form-wrapper {
  width: 50%;
  margin: auto;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  text-align: center;
}

.convert-form input,
.convert-form label {
  width: 100%;
  font-size: 20px;
  display: flex;
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  padding: 5px;
}
